#!/bin/bash
# ----------------------------------------------------------- 
# UNIX Shell Script File
# Tested Operating System(s): RHEL 5,6
# Tested Run Level(s): 3, 5
# Shell Used: BASH shell
# Original Author(s): Roberto Padilla-Hernandez
# File Creation Date: 02/01/2015
# Date Last Modified:
#
# Version control: 1.14
#
# Support Team:
#
# Contributors: Floyd fayton
#
# ----------------------------------------------------------- 
# ------------- Program Description and Details ------------- 
# ----------------------------------------------------------- 
#
# Job Card to set the resources required for a NWPS run
#
# ----------------------------------------------------------- 
#BSUB -J %WFO%_wt_cg1
#BSUB -oo /ptmpp1/Andre.VanderWesthuysen/data/com/nwps/para/NWPS_%WFO%_wavetrack_cg1.o
#     -e  /ptmpp1/Andre.VanderWesthuysen/data/com/nwps/para/NWPS_%WFO%_wavetrack_cg1.o
#BSUB -q "dev"
#     -cwd /tmpnwprd1
##BSUB -W 0:30
#BSUB -W 2:25
#BSUB -n 8
#BSUB -a poe
#BSUB -R span[ptile=8] -R rusage[mem=1700] -R affinity[core]
#BSUB -P NWPS-T2O

#module load %MODULES%
module load prod_util
module load ics
module load ibmpe
module load lsf
module load mpiserial

export FORT_BUFFERED=true
export NWPSplatform="DEVWCOSS"
export MP_PGMMODEL=mpmd
export MP_CSS_INTERRUPT=yes
export WFO="%WFO%"
export siteid=${WFO}
export SITEID=${WFO^^}
export N="1"
export KEEPDATA="YES"
export model="nwps"
export MODEL=${model^^}

export envir="para"

export DEVWCOSS_USER=$(whoami)
export COMROOT=/ptmpp1/${DEVWCOSS_USER}/data/com

#Dev environment value for $job
export job=pnwps_${WFO}_wt_cg1
export jobid=pnwps_${WFO}_wt_cg1.$$

#Dev environment jlogfile
mkdir -p ${COMROOT}/logs/${envir}
export jlogfile=${COMROOT}/logs/${envir}/jlogfile.${job}

if [ -e /gpfs/gd1 ]
then
   echo "INFO - WCOSS is on GYRE system"
   export  WCOSS_SYSTEM="gd1"
fi
if [ -e /gpfs/td1 ]
then
   echo "INFO - WCOSS is on TIDE system"
   export WCOSS_SYSTEM="td1"
fi

export NWROOT="/gpfs/${WCOSS_SYSTEM}/emc/marine/save/${DEVWCOSS_USER}/NWPS/IT_NWPS_WCOSS_ver1.0_20150729"

VERSION_FILE=${NWROOT}/dev/nwps_test.ver
if [ -f $VERSION_FILE ]; then
  . $VERSION_FILE
else
  ECFNAME="jnwps_prep.ecf"
  echo "***JOB ${ECFNAME} ERROR: Version File $VERSION_FILE does not exist ***"
  exit
fi

# Wait for upstream component job to finish
while [ -z $(grep 'COMPLETED NORMALLY' ${COMROOT}/logs/${envir}/jlogfile.pnwps_%WFO%_pd_cg1 | awk '{print $1}') ]
do
   if [ ! -z $(grep 'FAILED' ${COMROOT}/logs/${envir}/jlogfile.pnwps_%WFO%_pd_cg1 | awk '{print $1}') ]
   then
       msg="FATAL ERROR: Upstream job pnwps_%WFO%_pd_cg1 failed"
       postmsg "$jlogfile" "$msg"
       export err=1; err_chk
   fi
   echo 'Waiting for pnwps_%WFO%_pd_cg1 to complete, at date'
   date
   sleep 60
done

${NWROOT}/dev/jobs/J${MODEL}_WAVETRACK

#%include <tail.h>

#%manual
################################################################################
#TASKSCRIPT DOCUMENTATION BLOCK
#TASKSCRIPT:     jnwps_%FAMILY1%_wavetrack_cg%N%
#LAST MODIFIER:  Floyd Fayton
#ORGANIZATION:   NP11
#DATE:           SEP 2014
#FULL NAME:    /nwps_para/nwps/SR/j%WFO%
#PURPOSE:  To execute the job that creates NWPS %WFO% GRIB output files
#JOB SCRIPT CALLED: /nwprod/nwps.${nwps_ver}/jobs/JNWPS ==>
#                            /nwprod/nwps.${nwps_ver}/scripts/exnwps_wavetrack_cg%N%.sh.ecf
#################################################################################
######################################################################
# Job specific troubleshooting instructions:
#  see generic troubleshoot manual page
#
######################################################################
#%end
