
$*************HEADING****************************************
$
PROJ 'SWAN-MIA-CG2' '2409'
$
$***********MODEL INPUT**************************************
$
SET NAUT
MODE NONSTATIONARY
COORD SPHE
$
$Computation Grid.
$
CGRID 279.9 26.9 0. 0.160000000000025 0.120000000000001 159 133 CIRCLE 36 0.05 1.5
$
<< PUT INPGRID BOTTOM HERE >>
READINP BOTTOM 1.0 'bathyCG2' 3 0 FREE
$
INPGRID WIND 275.385651 23.141953 0. 256 224 0.027547 0.025362 EXC 9999 NONSTAT 20110824.0900 3.0 HR 20110901.1200
READINP WIND 1.0 '2011082409.wnd' 3 0 0 0 FREE
$
$WIND 12.5 090
$
$ The next two lines are flags that tells the input current
$ processing script to current command lins between the next
$ two lines. SO DO NOT CHANGE.
$
$ CURR STARTS HERE
$ CURR ENDS HERE
$
$ WLEVEL STARTS HERE
$ WLEVEL ENDS HERE
$
BOUN NEST 'bc_CG2'
$
$
$INIT DEFAULT
$ WCAP KOM CDS2     STPM     POWST    DETLTA    POWK
WCAP KOM 2.36E-5 3.02E-3 2.0 1.0 1.0
$
$ Include Friction and Breaking.
FRIC JON
$ON BREAKING
$ Include TRIAD Wave to Wave Interactions
TRI
$
NUM ACCUR 0.04 0.04 0.04 96. 10
$
$************ Output REQUESTS *************************
$
BLOCK 'COMPGRID' NOHEAD 'HSIG.CG2.CGRID' LAY 3 HSIG OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'WIND.CG2.CGRID' LAY 3 WIND OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'TPS.CG2.CGRID' LAY 3 TPS OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'DIR.CG2.CGRID' LAY 3 DIR OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'PDIR.CG2.CGRID' LAY 3 PDIR OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'VEL.CG2.CGRID' LAY 3 VEL OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'WATL.CG2.CGRID' LAY 3 WATL OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'HSWE.CG2.CGRID' LAY 3 HSWE OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'WLEN.CG2.CGRID' LAY 3 WLEN OUTPUT 20110824.0900 3.0 HR
BLOCK 'COMPGRID' NOHEAD 'DEPTH.CG2.CGRID' LAY 3 DEPTH OUTPUT 20110824.0900 3.0 HR
$
$
$
$******** spec2d and compute commands *******
$ Note: do not modify the following line
$ XXX output begin flag XXX
$
$ Generate output for location: JUP
POIN 'JUP'  280  26.96
TABLE  'JUP' 'JUP_TAB' WIND HSIGN HSWELL TPS PDIR DEPTH OUTPUT 20110824.0900 3.0 HR
SPEC 'JUP' SPEC2D 'spec2d.out.JUP' OUTPUT 20110824.0900 3.0 HR
$
$ The following commands specify at which instances in time to write to output
COMPUTE STAT 20110824.0900
COMPUTE STAT 20110824.1200
COMPUTE STAT 20110824.1500
COMPUTE STAT 20110824.1800
COMPUTE STAT 20110824.2100
COMPUTE STAT 20110825.0000
COMPUTE STAT 20110825.0300
COMPUTE STAT 20110825.0600
COMPUTE STAT 20110825.0900
COMPUTE STAT 20110825.1200
COMPUTE STAT 20110825.1500
COMPUTE STAT 20110825.1800
COMPUTE STAT 20110825.2100
COMPUTE STAT 20110826.0000
COMPUTE STAT 20110826.0300
COMPUTE STAT 20110826.0600
COMPUTE STAT 20110826.0900
COMPUTE STAT 20110826.1200
COMPUTE STAT 20110826.1500
COMPUTE STAT 20110826.1800
COMPUTE STAT 20110826.2100
COMPUTE STAT 20110827.0000
COMPUTE STAT 20110827.0300
COMPUTE STAT 20110827.0600
COMPUTE STAT 20110827.0900
STOP
